## 0. Import library

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1.Import data

In [51]:
train=pd.read_csv('titanic_traning.csv')
#train.drop(columns='ID',inplace=True)
train.head()

   ID  pclass     sex   age  sibsp  parch  fare embarked  survived
0   1       3    male  20.0      0      0   4.0        C         0
1   2       3  female  18.0      0      0   7.2        C         1
2   3       2    male   NaN      0      0  15.6        C         0
3   4       2    male   NaN      0      0   0.0        S         0
4   5       3  female   2.0      3      2  27.9        S         0

In [52]:
train.columns[1:]

Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked',
       'survived'],
      dtype='object')

In [53]:
#Name of features
feat_list=train.columns[1:]
print(feat_list)
#Create a dict that contains all possible values for the features that have limited unique values 
factor={'sex':['male', 'female'],
        'embarked':['C', 'S', 'Q'],
        'pclass':np.arange(1,4),
        'sibsp':np.arange(9),
        'parch':np.arange(10),
        'survived':[0,1]
       }

Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked',
       'survived'],
      dtype='object')

## 2. Function to find the missing values and inconsistency

In [54]:
## Function to find number of missing values
def check_missing_value(feat):
    nomv=0 #Number of missing values
    #check if there is any missing values
    if train[feat].isnull().any():
        #if yes, count the number of missing value
        mis_val=train[feat][train[feat].isnull()]
        print('\nThe records that have missing value in the feature',feat,':')
        print(train[train[feat].isnull()])
        nomv=len(mis_val)
    return nomv
    
#example of function
print(check_missing_value('fare'))

## Function to find the inconsistency
def check_inconsistency(feat):
    noic=0 #Number of inconsistent values
    pv=train[feat].unique()
    #print(pv)
    if np.isin(feat,list(factor.keys())):
        # deal with features that have limited unique values
        iv=pv[np.isin(pv,factor[feat])==False].copy()
        if len(iv)!=0:
            print('\nFor feature',feat,', the cases that have inconsistent values are:')
            for val in iv:
                subset=train[feat][train[feat]==val]
                print(train[train[feat]==val])
                noic+=len(subset)
    else:
        # deal with features that may have unlimited unique values like age and fare
        # Nan will not be counted because we already count it in the missing values checking
        pv=pv[~np.isnan(pv)]
        #check if all unique values is a positive number
        for val in pv:
            if val<0: 
                subset=train[feat][train[feat]==val]
                noic+=len(subset)
    return noic

#example of function
print(check_inconsistency('sex'))

The records that have missing value in the feature fare :
      ID  pclass     sex   age  sibsp  parch  fare embarked  survived
8      9       2    male  44.0      1      0   NaN        S         0
27    28       1    male  41.0      1      0   NaN        S         0
62    63       3    male  34.0      1      1   NaN        S         0
81    82       1  female  31.0      0      0   NaN        C         1
88    89       1  female  40.0      0      0   NaN        S         1
89    90       3    male  25.0      0      0   NaN        C         0
135  136       3  female   9.0      4      2   NaN        S         0
165  166       3    male  60.5      0      0   NaN        S         0
908  909       1  female  30.0      0      0   NaN        C         1
9

For feature sex , the cases that have inconsistent values are:
      ID  pclass   sex   age  sibsp  parch  fare embarked  survived
5      6       1  Male  45.0      0      0  29.7        C         1
756  757       3  Male  27.0      0      0   7.8        S         1
      ID  pclass     sex   age  sibsp  parch  fare embarked  survived
160  161       3  Female  24.0      0      2  16.7        S         1
169  170       3  Female   NaN      0      0   8.1        S         0
4

## 2. Main program

In [55]:
N=len(train.pclass)
problem_table=pd.DataFrame(index=feat_list)
mv=[]
iv=[]
for feat in feat_list:
    mv.append(check_missing_value(feat))
    iv.append(check_inconsistency(feat))
problem_table['Missing Values']=mv
problem_table['Percentage of MV']=[round(100*x/N,2) for x in mv ]
problem_table['Inconsistent Values']=iv
problem_table['Percentage of IV']=[round(100*x/N,2) for x in iv ]
problem_table

For feature sex , the cases that have inconsistent values are:
      ID  pclass   sex   age  sibsp  parch  fare embarked  survived
5      6       1  Male  45.0      0      0  29.7        C         1
756  757       3  Male  27.0      0      0   7.8        S         1
      ID  pclass     sex   age  sibsp  parch  fare embarked  survived
160  161       3  Female  24.0      0      2  16.7        S         1
169  170       3  Female   NaN      0      0   8.1        S         0

The records that have missing value in the feature age :
      ID  pclass     sex  age  sibsp  parch   fare    embarked  survived
2      3       2    male  NaN      0      0   15.6           C         0
3      4       2    male  NaN      0      0    0.0           S         0
11    12       3  female  NaN      0      0    7.7           Q         1
13    14       3  female  NaN      2      0   23.3           Q         1
18    19       1    male  NaN      0      0   26.0           S         0
21    22       3    male  NaN      1      2   23.5           S         0
37    38       3  female  NaN      0      0    7.8           Q         1
41    42       2  female  NaN      0      0   12.4           Q         1
43    44       3    male  NaN      0      0    7.3           S         0
63    64       3    male  NaN      0      0    7.8           Q         0
76    77       3    male  NaN      0      0    8.1           S         0
79    80       3    male  NaN      1      1   15.2           C         1
85    86       3    male  NaN      1      0   14.5           C         0
95    96       3    male  NaN      0      0    7.6           S         0
100  101       3    male  NaN      0      0    7.8           Q         0
101  102       3    male  NaN      0      0    7.9           S         1
107  108       3    male  NaN      0      0    7.2           C         0
110  111       3  female  NaN      1      0   15.5           Q         1
112  113       3    male  NaN      0      0    7.8           Q         1
116  117       3    male  NaN      2      0   21.7           C         0
118  119       3    male  NaN      8      2   69.6           S         0
126  127       3    male  NaN      0      0    7.6           S         0
132  133       3  female  NaN      0      2   15.2           C         1
134  135       3  female  NaN      1      0   15.5           Q         1
145  146       3    male  NaN      2      0   21.7           C         0
146  147       3  female  NaN      8      2   69.6           S         0
158  159       3    male  NaN      0      0    7.8           Q         0
162  163       3    male  NaN      0      0    8.1           S         0
169  170       3  Female  NaN      0      0    8.1           S         0
179  180       3  female  NaN      0      2    7.8           Q         0
..   ...     ...     ...  ...    ...    ...    ...         ...       ...
767  768       3  female  NaN      3      1   25.5           S         0
770  771       1    male  NaN      0      0   52.0           S         0
774  775       3    male  NaN      0      0   56.5           S         1
775  776       1    male  NaN      0      0    0.0           S         0
782  783       1    male  NaN      0      0   26.6           S         0
785  786       3    male  NaN      0      0    7.9           C         0
790  791       3    male  NaN      0      0    7.3           S         0
792  793       3    male  NaN      0      0    7.2           C         0
796  797       1  female  NaN      1      0  133.7           S         1
803  804       3  female  NaN      0      0    7.8           Q         0
808  809       3    male  NaN      1      1   14.5           S         0
810  811       3    male  NaN      0      0    7.8           Q         0
811  812       1    male  NaN      0      0   25.9           S         0
814  815       3    male  NaN      0      0    7.9           S         0
824  825       3    male  NaN      0      0    8.1           S         0
829  830       3    male  NaN      0      0    7.7  Queenstown         0
837  838       3    male  NaN      0      0    8.5           Q         0
838  839       3    male  NaN      0      0    7.2           C         1
841  842       3    male  NaN      0      0    7.9           C         0
849  850       3  female  NaN      0      0    7.9           Q         1
857  858       3    male  NaN      0      0    7.8           Q         1
868  869       3    male  NaN      0      0    7.7           Q         0
870  871       1    male  NaN      0      0   30.5           S         1
871  872       1    male  NaN      0      0   27.7           C         0
874  875       3  female  NaN      0      0    7.8           Q         0
877  878       3    male  NaN      0      0    7.9           S         0
879  880       2    male  NaN      0      0   10.7           Q         0
890  891       1  female  NaN      0      0   31.7           S         1
892  893       3    male  NaN      1      0    6.4           C         0
912  913       3    male  NaN      0      0    7.8           Q         0

[188 rows x 9 columns]

The records that have missing value in the feature fare :
      ID  pclass     sex   age  sibsp  parch  fare embarked  survived
8      9       2    male  44.0      1      0   NaN        S         0
27    28       1    male  41.0      1      0   NaN        S         0
62    63       3    male  34.0      1      1   NaN        S         0
81    82       1  female  31.0      0      0   NaN        C         1
88    89       1  female  40.0      0      0   NaN        S         1
89    90       3    male  25.0      0      0   NaN        C         0
135  136       3  female   9.0      4      2   NaN        S         0
165  166       3    male  60.5      0      0   NaN        S         0
908  909       1  female  30.0      0      0   NaN        C         1

For feature embarked , the cases that have inconsistent values are:
      ID  pclass     sex   age  sibsp  parch  fare    embarked  survived
17    18       3    male  26.0      0      0   7.9  Queenstown         0
123  124       3  female  15.0      0      0   8.0  Queenstown         1
829  830       3    male   NaN      0      0   7.7  Queenstown         0

,Missing Values,Percentage of MV,Inconsistent Values,Percentage of IV
pclass,0,0.00,0,0.00
sex,0,0.00,4,0.44
age,188,20.52,0,0.00
sibsp,0,0.00,0,0.00
parch,0,0.00,0,0.00
fare,9,0.98,0,0.00
embarked,0,0.00,3,0.33
survived,0,0.00,0,0.00

### 2.1. Handle the missing data

In [56]:
def fillna_by_mean(feat):
    #Find the mean of the feature
    mean=np.mean(train[feat][-train[feat].isnull()])
    train[feat][train[feat].isnull()]=round(mean,2)
fillna_by_mean('age')
fillna_by_mean('fare')

C:\Users\Duong Hung\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### 2.2. Handle the inconsistent data

In [57]:
# For sex feature
train['sex'][train['sex']=='Male']='male'
train['sex'][train['sex']=='Female']='female'
# For embarked feature
train['embarked'][train['embarked']=='Queenstown']='Q'

C:\Users\Duong Hung\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Duong Hung\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Duong Hung\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

## 3. Store the cleaned data into a file

In [60]:
train.to_csv('cleaned_titanic_traning.csv',index=False)

In [59]:
#Check the cleaned data to make sure all problems are solved ( No printing output means good)
for feat in feat_list:
    mv.append(check_missing_value(feat))
    iv.append(check_inconsistency(feat))