## 0. Import library

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1.Import data

In [24]:
train=pd.read_csv('titanic_traning.csv')
train.drop(columns='ID',inplace=True)
train.head()

   pclass     sex   age  sibsp  parch  fare embarked  survived
0       3    male  20.0      0      0   4.0        C         0
1       3  female  18.0      0      0   7.2        C         1
2       2    male   NaN      0      0  15.6        C         0
3       2    male   NaN      0      0   0.0        S         0
4       3  female   2.0      3      2  27.9        S         0

In [81]:
#Name of features
feat_list=train.columns
print(feat_list)
#Create a dict that contains all possible values for each features
factor={'sex':['male', 'female'],
        'age':np.arange(100)
        'embarked':['C', 'S', 'Q'],
        'pclass':np.arange(1,4),
        'sibsp':np.arange(9),
        'parch':np.arange(10),
        'survived':[0,1]
       }

Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked',
       'survived'],
      dtype='object')

## 2. Function to find the missing values and inconsistency

In [82]:
## Function to find number of missing values
def check_missing_value(feat):
    nomv=0 #Number of missing values
    #check if there is any missing values
    if train[feat].isnull().any():
        #if yes, count the number of missing value
        mis_val=train[feat][train[feat].isnull()]
        nomv=len(mis_val)
    return nomv
    
#example of function
check_missing_value('age')

## Function to find the inconsistency
def check_inconsistency(feat):
    noic=0 #Number of inconsistent values
    pv=train[feat].unique()
    print(pv)
    iv=pv[np.isin(pv,factor[feat])==False].copy()
    print(iv)
    for val in iv:
        subset=train[feat][train[feat]==val]
        print(subset.head())
        noic+=len(subset)
    return noic

check_inconsistency('survived')

[0 1]
[]

0

In [68]:
np.arange(1,4)

array([1, 2, 3])